<!-- <div class="row"> -->
  <li>
    <!-- <div class="col-md-6"> -->
      {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}}{{/link-to}}
    <!-- </div> -->
      {{#if isImageShowing}}
        <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
      {{else}}
    <!-- <div class="col-md-6"> -->
      <button style="border-width: thick;"class="btn-sm btn-success" {{action 'imageShow'}}>Image</button>
    <!-- </div> -->
      {{/if}}
        {{update-rental rental=rental saveChanges="saveChanges"}}
      <button {{action 'delete' rental}}>Delete</button>
    </li>
  <!-- </div> -->
